.navbar{
    width: 97%;
    height: 100px;
    background-color: turquoise;
    padding: 20px;
    display: flex;
    justify-content: center;
    place-items: center;
}
.search{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 20px;
    
   
}
input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    /* background-color: turquoise; */
    border-color: turquoise;
}
.table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
button{
    width: 150px;
    height: 60px;
    border-radius: 10px;
}